nav {
	padding: 15px;
	display: flex;
	justify-content: space-evenly;
	background-color: var(--main-bg-color);
	height: 3vh;
	align-items: center;
	text-transform: uppercase;
}

nav a {
	color: var(--main-text-color);
}

nav a:hover {
	color: var(--secondary-text-color);
}