.hero {
	display: flex;
	height: 97vh;
	justify-content: center;
	align-items: center;
	background-image: url("../images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero h1 {
	color: white;
}

h1 {
    color: yellow;
}