nav {
	padding: 15px;
	display: flex;
	justify-content: space-evenly;
	background-color: #D99F18;
	height: 3vh;
}

nav a {
	text-decoration: none;
	color: white;
}

nav button {
    width: 200px;
    border-radius: 5px;
    height: 68px;
    color: aqua;
}