.product-list {
	height: 30vh;
	display: flex;
	width: 100vw;
	justify-content: center;
}

.product-list img {
	display: inline-block;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.product-list button {
    width: 200px;
    border-radius: 5px;
    height: 68px;
    background-color: aqua;
}